.container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  font-size: 2em;
  line-height: 40px;
}

.text-section{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
}

.button-section{
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.title{
  align-self: center;
  font-size: 1.5em;
  line-height: 50px;
}

button{
  font-size: 1em;
  line-height: 40px;
  margin-top: 10px;
}
