.theory-container{
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.title{
  align-self: center;
  font-weight: bold;
}

.code{
  width: 97%;
  padding: 10px;
  align-self: center;
  border: 2px dashed black;
  font-family: Verdana;
}

.text{
  font-size: 1.5em;
  line-height: 30px;
}

button{
  font-size: 2em;
}

