.container{
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}

.avatar{
  height: 70px;
}

.message-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
}

.message{
  font-size: 25px;
}

.user-name{
  font-size: 30px;
}
