.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90vh;
}

.task-section-container{
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.task-section{
  display: flex;
  flex-direction: column;
}

.task-section__title{
  align-self: center;
}

.task-section__description{

}

.task-section__go-to-theory{
  align-self: center;
}

.practice-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}

.input-container{
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-items: stretch;
  border: 5px dashed black;
  align-self: center;
  width: 97%;
  height: 60%;
}

.input{
  background-color: rgba(0,0,0,0.1);
  flex-grow: 1;
  overflow: auto;
  padding: 10px;
  font-family: Verdana;
}

.static-code{
  font-family: Verdana;
  height: fit-content;
  background-color: rgba(0,0,0,0.05);
  padding: 10px;
}

.test-button{
  width: 80%;
  align-self: center;
}

.console-container{
  display: flex;
  flex-direction: column;
  height: 30%;
  border: 5px dashed black;
  width: 97%;
  align-self: center;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: Verdana;
}

.console-line{
  padding: 5px;
}

div{
  font-size: 1.1em;
}

button{
  font-size: 1em;
}
