<div class="container">
  <div class="task-section-container" *ngIf="practice">
    <div class="task-section">
      <h1 class="task-section__title">{{practice.title}}</h1>
      <span class="task-section__description">{{practice.description}}</span>
    </div>
    <div>
      <button class="task-section__go-to-theory" mat-button [routerLink]="['/theory', practice.theoryId]">Перейти к теории</button>
      <button class="task-section__go-to-theory" mat-button (click)="handleAskButtonClick()">Задать вопрос</button>
    </div>
  </div>
  <div class="practice-section" *ngIf="practice">
    <div class="input-container">
      <div class="static-code">{{getPracticeFirstPart()}}</div>
      <div contenteditable="true" class="input" (input)="handleInput($event)"></div>
      <div class="static-code">{{getPracticeSecondPart()}}</div>
    </div>
    <div class="console-container">
      <div *ngFor="let message of consoleMessages" class="console-line">
        {{message}}
      </div>
    </div>
    <div>
      <button class="test-button" mat-button (click)="handleTestButtonClick()">Проверить мой код</button>
      <span *ngIf="isCompleted">Результат: Пройдено!</span>
      <span *ngIf="!isCompleted">Результат: Не пройдено</span>
    </div>
  </div>
</div>
