<div class="container">
  <div class="task-section">
    <h1 class="task-section__title">title</h1>
    <span class="task-section__description">description</span>
  </div>
  <div class="practice-section">
    <div class="input-container">
      <div class="static-code">name</div>
      <div contenteditable="true" class="input"></div>
      <div class="static-code">name</div>
    </div>
    <div class="tests-container">
      <div class="tests-description">tests!</div>
    </div>
    <button class="test-button" mat-button>Test my code</button>
  </div>
</div>
